*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 24px 120px 16px 120px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 16px;
}

h1{
    font-style: 48px;
}

img{
    width: 50px;
    height: auto;
}

.menu{
    display: flex;
}

.lista{
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 16px 0;
}
.lista {
    list-style: none;
    color: #000000;
}

a{
    text-decoration: none;
    color: #000000
}
footer{
    display: flex;
    justify-content: center;
}
footer img{
    width: 110px;
    height: auto;
}
.container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    gap: 10px;
}

.filha1 img{
    width: 130px;
    height: 22px;
}
.filha2 img{
    width: 512px;
    height: auto;
}
h2{
    color: rgb(0, 0, 0);
    font-size: 69px;
    padding-bottom: 25px;
}
h2 span{
    color: rgb(255, 94, 0);
}

h3{
    font-size: 15px;
}