*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body{
    background-color: #F2F2F2;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 24px 120px 16px 120px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 16px;
}

h1{
    font-style: 48px;
}

img{
    width: 50px;
    height: auto;
}

.menu{
    display: flex;
}

.lista{
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 16px 0;
    list-style: none;
    color: #000000;
}

a{
    text-decoration: none;
    color: #000000
}

footer{
    display: flex;
    justify-content: center;
}

footer img{
    width: 110px;
    height: auto;
}

.container{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding: 24px 120px 24px 120px;
    gap: 40px;
}

.filhaA{
    gap: 18px;
}
.filhaA button{
    background:#353535;
    color: #FFFFFF;
    padding: 8px, 24px, 8px, 24px;
    width: 121px;
    height: 33px;
    gap: 10px;
}

.filhaA button h2{
    font-weight: 600;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
}

.filhaA p{
    gap: 32px;
}

.filhaA h2{
    width: 228px;
    height: 53px;
}

.filhaAa{
    width: 121px;
    height: 75px;
    gap: 18px; 
}

.filhaAa img{
    width: 24px;
    height: 24px;
}

.filhaB img{
    width: 560px;
    height: 315px;
}