body {
  background-color: #f2f2f2;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 24px 120px 16px 120px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  font-style: 48px;
}

img {
  width: 50px;
  height: auto;
}

.menu {
  display: flex;
}

.lista {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 16px 0;
  list-style: none;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

footer {
  display: flex;
  justify-content: center;
}

footer img {
  width: 110px;
  height: auto;
}

.pai {
  padding: 24px 120px 24px 120px;
  gap: 40px;
}

.pai textarea {
  resize: none;
}

.filho {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #ffffff;
  width: 100%;
  max-width: 820px;
}

.filho h3 {
  padding-bottom: 13px;
  font-size: 32px;
  font-weight: 700;
}

input {
  background: #dce7ea;
  color: #939393;
  padding: 16px;
  gap: 10px;
  border-radius: 4px;
  border: none;
}

textarea {
  background: #dce7ea;
  color: #939393;
  padding: 16px;
  gap: 10px;
  border: none;
  border-radius: 4px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 10px;
  width: 100%;
}

fieldset button {
  background-color: #353535;
  color: #ffffff;
  height: 63px;
  width: 652px;
}

.principal {
  display: flex;
  gap: 16px;
}

label {
  font-size: 16px;
  font-weight: 400;
}
.menu_ham {
  display: none;
}

@media (max-width: 1365px) {
  .cabecalho {
    padding: 34px 64px;
  }
  .cabecalho .menu {
    display: none;
  }

  .cabecalho .menu_ham {
    display: flex;
    width: 30px;
    height: 30px;
  }

  .cabecalho .logo h1 {
    display: none;
  }

  .cabecalho .logo img {
    width: 50px;
    height: 50px;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 0px 30px 0px 30px;
  }

  .pai {
    padding: 12px 60px 12px 60px;
    gap: 40px;
  }

  .filho {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: #ffffff;
    width: 100%;
    max-width: 410px;
  }

  .filho h3 {
    padding-bottom: 13px;
    font-size: 32px;
    font-weight: 700;
  }

  input {
    background: #dce7ea;
    color: #939393;
    padding: 8px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
  }

  textarea {
    background: #dce7ea;
    color: #939393;
    padding: 8px;
    gap: 10px;
    border: none;
    border-radius: 4px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
    width: 100%;
  }

  fieldset button {
    background-color: #353535;
    color: #ffffff;
    width: 100%;
    max-width: 410px;
  }

  .principal {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  label {
    font-size: 16px;
    font-weight: 400;
  }
  .menu_ham {
    display: none;
  }
}
