body {
  background-color: #f2f2f2;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 24px 120px 16px 120px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  font-style: 48px;
}

img {
  width: 50px;
  height: auto;
}

.menu {
  display: flex;
}

.lista {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 16px 0;
  list-style: none;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

footer {
  display: flex;
  justify-content: center;
}

footer img {
  width: 110px;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 24px 120px 24px 120px;
  gap: 32px;
  margin: 25%;
}

.prato1 img {
  width: 150px;
  height: 150px;
}

.prato1 {
  padding: 24px 32px 24px 32px;
  gap: 10px;
  border-radius: 8px;
  background-color: #ffffff;
}

.prato1 p {
  font-weight: 600;
  gap: 10px;
}

.dinheiro {
  color: #28a900;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
}

.dinheiro button {
  background-color: #29293b;
  color: #ffffff;
  padding: 4px 11px 4px 11px;
  gap: 10px;
  border-radius: 4px;
}

.menu_hamb {
  display: none;
}

@media (max-width: 991px) {
  .cabecalho {
    padding: 34px 64px;
  }

  .cabecalho .menu {
    display: none;
  }

  .cabecalho .menu_hamb {
    display: flex;
    width: 30px;
    height: 30px;
  }

  .cabecalho .logo h1 {
    display: none;
  }
  .cabecalho .logo img {
    width: 40px;
    height: 40px;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 0px 30px 0px 30px;
  }

  footer img {
    position: fixed;
    bottom: 0;
    right: 43%;
  }

  .comtainer {
    display: flex;
    flex-direction: column;
  }
  .cabecalho {
    margin-bottom: 50px;
  }
}
